@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
body{
  font-family: "Plus Jakarta Sans", serif;
  width: 1440px;
  margin: auto;

}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 86px;
  padding:0 95px 0 95px;
}

header nav ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:50px;
}
header nav ul li{
  font-size: 20px;
  font-weight: 700;
  color: #2B2C34;
}
header nav ul li button{
  display: flex;
  align-items: center;
  justify-content: center;
  width:213px;
  height: 44px;
  font-size: 18px;
  font-weight: 700;
  background-color: #6246EA;
  color:#FFFFFE;
  border-radius: 4px;
  gap:10px;
}
header p {
font-size: 36px;
  color: #001858;
  font-weight: 600;
}
header p span{
  font-size: 18px;
  color:#6246EA;
}
header nav ul .search{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
}
header nav ul .search img{
  padding-top: 3px;
}



